<h1><%= @issuer.name %></h1>
<p><%= @issuer.email %></p>
<pre><%= @issuer.barcode %></pre>

<% if @issuer.devices.empty? %>
  <p>No devices issued</p>
<% else %>
  Currently issuing:
  <ul>
    <% @issuer.devices.each do |device| %>
      <li><%= link_to device.name, device_path(device) %></li>
    <% end %>
  </ul>
<% end %>
