%p{ class: [type, 'callout'], 'data-closable' => true }
  = yield
  %button.close-button{ 'aria-label' => 'Dismiss',
    type: 'button',
    'data-close' => true }
    %span{ 'aria-hidden' => 'true' } ×

