// Place all the styles related to the Home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#home_forms {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  height: 100%;

  form {
    padding: 10px;
    margin: 10px;
    border: 2px solid #ededed;
    border-radius: 5px;
    box-shadow: 0 2px 3px #aaa;
    width: 300px;
    background: #ededed;
    display: flex;
    flex-wrap: wrap;

    input {
      margin-bottom: 2px;
      height: 30px - 6px;
    }

    input[type="text"] {
      align-self: flex-end;
      width: 100%;
    }

    ul {
      padding-left: 0;
      list-style: inside "! ";
      align-self: flex-end;

      li {
        font-style: italic;
      }

      li::marker {
        color: red;
        font-style: normal;
      }
    }
  }

  form.success {
    border-color: green;
  }

  form.error {
    border-color: red;
  }
}
