// Place all the styles related to the Home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$shadow: 0 2px 3px #aaa;
$background: #fff;
$on-background: #ededed;
$foreground: #000;
$on-foreground: #333;
$red: red;
$green: green;

h1, h2, h3, h4, h5, h6 {
  font-family: 'Overpass', sans-serif;
  margin-bottom: 5px;
}

body {
  background-color: $background;
}

#home_forms {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  height: 100%;
  padding-top: 50px;

  form {
    padding: 10px;
    margin: 10px;
    border: 2px solid $on-background;
    border-radius: 5px;
    box-shadow: $shadow;
    width: 300px;
    background: #ededed;

    input {
      margin-bottom: 2px;
      height: 30px - 6px;
      display: block;
    }

    input[type="text"] {
      width: calc(100% - 14px);
    }

    ul {
      list-style: inside "!";
      margin: 0;
      padding-top: 4px;
      padding-left: 0;

      li {
        font-style: italic;
      }

      li::marker {
        color: $red;
        font-style: normal;
        margin-right: 5px;
      }
    }
  }

  form.success {
    border-color: $green;
  }

  form.error {
    border-color: $red;
  }
}

#notices {
  position: fixed;
  display: flex;
  right: 0;
  margin-top: 0px;
  margin-right: 16px;
  z-index: 50;

  .notice {
    border-radius: 5px;
    padding: 15px;
    box-shadow: $shadow;
    background: #c9ead7;
  }

  .alert {
    border-radius: 5px;
    padding: 15px;
    box-shadow: $shadow;
    background: #e1dac2;
  }
}

.menu {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;

  li {
    display: inline;
    padding: 3px;

    a {
      color: black;
      text-decoration: underline;
    }
  }
}

h1.overdue {
  color: $red;
}
